body {
  background-color: white;
}
.btn {
  cursor: pointer;
}
.clicked {
  color: gray;
}
.form {
  display: none;
}
body {
  color: black;
}
.greetings {
  display: none;
}
.showing {
  display: block;
}
